# Compiled files
*.tfstate
*.tfstate.backup
*.terraform.tfstate*
_zip/

# Module directory
.DS_Store
.terraform/

# AWS credentials
aws_*
# slack secrets
slack_webhook_url

# dynamodb_to_es
terraform/dynamodb_to_es/*
!terraform/dynamodb_to_es/.gitignore
!terraform/dynamodb_to_es/lambda_function.py
!terraform/dynamodb_to_es/README.md
!terraform/dynamodb_to_es/requirements.txt
